body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  overflow: hidden;
  z-index: 1000;
  opacity: 0;
  height: 10vh;
  width: 100%;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}

.star-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  margin-left: 10px;
}

.header-content h1,
.header-content p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.header-content h1 {
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.header-content p {
  font-size: 1rem;
}


.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

#header-atmosphere {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 16px;
  background: linear-gradient(to top, 
              rgba(255, 170, 170, 0.4),
              rgba(255, 220, 170, 0.2),  
              rgba(200, 255, 255, 0.1));
  color: #f1f1f1;
  height: 10vh;
  width: 100%;
}

.header.visible {
  opacity: 1;
}

.content {
  padding: 16px;
  background-color: white;
}

.nav-bar {
  position: fixed;
  z-index: 10000;
  top: 50%;
  right: 20px;
  background: transparent;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.nav-button {
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  width: 300px;
  height:20px;
  border-radius: 15px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 7px;
  margin: 50px;
  background-color: #3b3b3b ;
  cursor: point;
  transition: transform 0.3s ease-in-out;
  transform: translateX(105%);
  border-color: white;
}

.fade-in {
  opacity: 1;
}

.nav-button:hover {
  transform: translateX(40%);
}

.fa {
    margin-right: 30px;
}

.dropdown-button {
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  width: 300px;
  height:20px;
  border-radius: 15px;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 7px;
  margin: 50px;
  background-color: #3b3b3b ;
  cursor: point;
  transition: transform 0.3s ease-in-out;
  transform: translateX(105%);
  border-color: white;
}

.dropdown-button:hover {
  transform: translateX(50%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3b3b3b;
  border-radius: 15px;
  border-color: white;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  left: 35%;
  top: -60%;
  min-width: 160px;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: teal;
}

#section2 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

#map2 {
  width: 100%;
  height: 100%;
  position: relative;
}

#sidebar2 {
  position: absolute;
  z-index: 1;
  width: 35%;
  height: 90vh;
  overflow-x: hidden;
  padding: 25vh 10px 10px 10px;
  margin-left: 20px;
  background-color: transparent;
  overflow-y: scroll;
  scrollbar-width: none;
  pointer-events: auto;
  top: 0;
  box-sizing: border-box;
}

#sidebar2::-webkit-scrollbar { 
  width: 0px;
  height: 0px;
}

#sidebar2::-moz-scrollbar { 
  width: 0px;
  height: 0px;
}


@media only screen and (max-width: 768px) {
  #section2 {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  #map2 {
    width: 100%;
    height: 100vh;
  }

  #sidebar2 {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 0;
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  }

  /* Style for the project boxes inside the sidebar */
  #sidebar2 .project-box {
    display: inline-block;
    width: 80%; /* Adjust as needed */
    min-width: 250px; /* Minimum width for each box */
    height: 90%;
    margin-right: 20px;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.9); /* Light background for contrast */
    border-radius: 10px; /* Rounded corners */
    padding: 10px;
    box-sizing: border-box;
  }
}

#welcome-box {
  height: 400px;
  width: 100%;
  margin-bottom: 200px;
  background-color: transparent;
}

.project-box {
  position: relative;
  border: 1px solid #333;
  width: 100%;
  height: 400px;
  margin-bottom: 200px;
  background-color: #3a3a3a;
  overflow: hidden;
}

.project-box:hover {
  background-color: #90a4ae;
}

.project-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  z-index: 1000;
  background: linear-gradient(to top, rgba(58,58,58,1) 0%, rgba(58,58,58,0) 100%);
}

.project-box:hover::after {
  opacity: 0;
  max-height: 1px;
}

.project-box img {
  position: absolute;
  max-width: 100%;
  min-height: 90%;
  object-fit: cover;
  display: block;
  z-index: 1;
  margin: 0;
  margin-top: 30px;
}

.project-box h3, .project-box p, .project-box p1 {
  margin: 0;
  color: #ffffff;
  z-index: 1002;
}

.project-box p {
  z-index: 1002;
  font-size: 15pt;
  position: absolute;
  bottom: 5%;
  left: 1%;
  color: #ffffff;
  text-shadow: 0px 0px 3px #000000;
}

.project-box p1 {
  z-index: 6;
  position: absolute;
  top: 7%;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .project-box {
    height: 200px;
    width: 250px;
    margin-bottom: 60px;
  }
  .project-box img {
    min-height: auto;
    margin-top: 15px;
  }
  .project-box p {
    font-size: 10pt;
    position: absolute;
    bottom: 5%;
    left: 1%;
    color: #ffffff;
    text-shadow: 0px 0px 3px #000000;
  }
}