body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #1db954;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529; /* Dark background color */
    min-width: 250px; /* Wider dropdown content */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff; /* Light text color for dark background */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover { /* Adjusted hover effect */
    background-color: #343a40; /* Slightly lighter shade on hover */
  }  

main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    margin: 0 auto;
    width: 60%;
    line-height: 1.8;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

main section h2 {
    margin-top: 0;
}

#section2 {
    display: flex;
}

#sidebar2 {
    flex: 3;
    width: 75%;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #333;
    padding: 10px;
    margin-left: 20px;
    background-color: #2b2b2b;
}

#map2 {
    flex: 1;
    width: 25%;
    height: 500px;
}

.city-box {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3a3a3a;
}

.city-box img {
    width: 100%;
    height: auto;
}

.city-box h3, .city-box p {
    margin: 0;
    color: #ffffff;
}

#about {
    background-color: #1e1e1e;
    border: 1px solid #333;
    margin: 0 auto;
    width: 60%;
    line-height: 1.8;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

